body {  
    background-color:#080b28;    
    margin: 0;  
    overflow: hidden;  
    background-repeat: no-repeat;  
   }  
h1   {
    text-align: center;
    background-color: black;
    color:rgb(246, 246, 105);
}